# **AI and ML Program by letsUpgrade**
# **DAY3 ASSIGNMENT**
# **SUBMITTED BY**
# **NAME:-PAIDIMARRI VENKATA SAI ASWITHA**

# **Question1**
# Write a program to subtract two complex numbers in Python.

In [ ]:
a=2+3j
b=3+2j
print(a-b)

(-1+1j)

# **Question2**
# Write a program to find the fourth root of a number.

In [ ]:
num=2
res=num**4
print(res)

16

# **Question3**
# Write a program to swap two numbers in Python with the help of a temporary variable.

In [ ]:
x=input()
y=input()
#swapping
temp=x
x=y
y=temp
print("x=",x,"y=",y)

3
5
x= 5 y= 3

# **Question4**
# Write a program to swap two numbers in Python without using a temporary variable.

In [ ]:
x=5
y=3
#swapping with out using temporary variable
x=x+y
y=x-y
x=x-y
print("x=",x,"y=",y)

x= 3 y= 5

# **Question5**
# Write a program to convert Fahrenheit to kelvin and celsius both.

In [ ]:
f=float(input())
Kelvin = 273.5 + ((f-32.0) * (5.0/9.0))
Celsius=(f-32) * 5/9
print("Kelvin=",Kelvin)
print("Celsius=",Celsius)

25
Kelvin= 269.6111111111111
Celsius= -3.888888888888889

# **Question6**
# Write a program to demonstrate all the available data types in Python. Hint: Use type() function.

In [ ]:
a=2
b=3.0
c=2.888888888888888
d=10000000000000
e="Letsupgrade"
f="c"
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>